Repository Rul1an/assay: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-audit

.pre-commit-config.yaml:

# .pre-commit-config.yaml
minimum_pre_commit_version: "4.4.0"
default_install_hook_types: [pre-commit, pre-push]

# Best practice: pin versions (rev) and periodically `pre-commit autoupdate`.
repos:
  # Baseline hygiene (stable, fast)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
        args: ["--unsafe"]
        exclude: |
          (?x)^(
            tests/fixtures/mcp/malformed\.yaml|
            tests/fixtures/golden/eval_broken\.yaml
          )$
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # GitGuardian secrets detection (manual/local opt-in; requires GITGUARDIAN_API_KEY)
  - repo: https://github.com/gitguardian/ggshield
    rev: v1.47.0
    hooks:
      - id: ggshield
        language_version: python3
        stages: [manual]

  # --- Tooling hooks (remote) ---
  # typos (spellcheck)
  - repo: https://github.com/crate-ci/typos
    rev: v1.42.1
    hooks:
      - id: typos
        types_or: [text]
        args: ["--config", ".typos.toml", "--force-exclude"]

  # actionlint (GitHub Actions workflow lint)
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint
        args: ["-config-file", ".github/actionlint.yaml"]
        files: ^\.github/workflows/.*\.ya?ml$

  # shellcheck (bash) â€” use system binary to avoid SSL/download issues
  - repo: local
    hooks:
      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        args: ["-x", "-S", "warning"]
        language: system
        types: [shell]

  # --- Rust: fmt on commit (fast), clippy on push (heavier) ---
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt --check
        entry: bash -lc 'cargo fmt --all -- --check'
        language: system
        types_or: [rust]
        always_run: true
        pass_filenames: false

      # --- Dependency security (shift-left) ---
      - id: cargo-deny
        name: cargo deny (advisories, licenses, bans, sources)
        entry: bash -lc 'cargo deny check advisories bans licenses sources'
        language: system
        pass_filenames: false
        # Only run when deps/policy change (avoids noise on unrelated commits)
        files: ^(Cargo\.lock|Cargo\.toml|crates/.*/Cargo\.toml|deny\.toml)$
        stages: [pre-commit]

      - id: cargo-audit
        name: cargo audit (RustSec)
        entry: bash -lc 'cargo audit'
        language: system
        pass_filenames: false
        files: ^Cargo\.lock$
        stages: [pre-push]
      - id: cargo-clippy
        name: cargo clippy (workspace, deny warnings)
        entry: scripts/precommit/cargo-clippy.sh
        language: system
        stages: [pre-push]
        pass_filenames: false

      - id: linux-check
        name: linux compile gate (target/multipass)
        entry: bash scripts/ci/check-linux.sh
        language: system
        stages: [pre-push]
        pass_filenames: false
        # Default: cross-compile only (ASSAY_LINUX_CHECK_MODE=target), with timeout so pre-push does not hang.
        # ASSAY_LINUX_TARGET_TIMEOUT=300 (default). Set =multipass for full VM clippy.

fix(mcp): echo Cursor 2025-06-18 instead of selecting 2025-11-25 (#2448) (#2449)
  CHANGELOG.md
  crates/assay-mcp-server/src/server.rs
  crates/assay-mcp-server/tests/protocol_negotiation_e2e.rs
  docs/guides/editor-mcp-recipe.md
  docs/reference/tool-decision-surface.md
Due: none

test(plugin): pin agent-plugin LF and keep package edits out of lightweight CI
  .gitattributes
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/ci/classify-lightweight-changes.sh
  scripts/ci/test-classify-lightweight-changes.sh
  scripts/ci/test-generate-agent-golden-path-check.py
Due: none

test(plugin): use os.devnull for the autocrlf checkout fixture
  scripts/ci/test-generate-agent-golden-path-check.py
Due: none

test(plugin): pin portable package LF and route inventory CI (#2450)
  .gitattributes
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/ci/classify-lightweight-changes.sh
  scripts/ci/test-classify-lightweight-changes.sh
  scripts/ci/test-generate-agent-golden-path-check.py
Due: none

test(plugin): type golden-path working-directory replace surfaces (#2406)
  crates/assay-cli/tests/agent_plugin_package_contract.rs
  docs/generated/agent-golden-path.json
  packaging/agent-plugin/skills/assay-golden-path/references/agent-golden-path.json
  packaging/claude-plugin/skills/assay-golden-path/references/agent-golden-path.json
  scripts/ci/test-generate-agent-golden-path-check.py
  scripts/docs/generate-agent-golden-path.py
Due: none

test(cli): exclude workspace-only package-contract from published crate
  crates/assay-cli/Cargo.toml
Due: cargo-deny

fix(cli): drop brackets from package-contract exclude comment
  crates/assay-cli/Cargo.toml
Due: cargo-deny

test(plugin): publish typed working-directory resolver (#2451)
  crates/assay-cli/Cargo.toml
  crates/assay-cli/tests/agent_plugin_package_contract.rs
  docs/generated/agent-golden-path.json
  packaging/agent-plugin/skills/assay-golden-path/references/agent-golden-path.json
  packaging/claude-plugin/skills/assay-golden-path/references/agent-golden-path.json
  scripts/ci/test-generate-agent-golden-path-check.py
  scripts/docs/generate-agent-golden-path.py
Due: cargo-deny

fix(cli): qualify evidence-diff scope as retained verified events (#2445)
  crates/assay-cli/src/cli/commands/evidence/diff.rs
  crates/assay-cli/tests/evidence_diff_stdout_contract.rs
Due: none

fix(cli): qualify evidence-diff scope as retained verified events (#2445) (#2452)
  crates/assay-cli/src/cli/commands/evidence/diff.rs
  crates/assay-cli/tests/evidence_diff_stdout_contract.rs
Due: none

fix(mcp): keep ServerConfig semver-compatible without dropping the policy ceiling (#2453)
  CHANGELOG.md
  crates/assay-mcp-server/src/config.rs
  crates/assay-mcp-server/src/main.rs
  crates/assay-mcp-server/src/tools/policy_read.rs
  scripts/ci/check-mcp-policy-reader-routing.py
  scripts/ci/test-check-mcp-policy-reader-routing.sh
Due: none

docs(coverage): state tools_declared derivation basis (#2427)
  crates/assay-cli/src/cli/commands/coverage/format_md.rs
  crates/assay-cli/src/cli/commands/coverage/generate.rs
  crates/assay-cli/src/cli/commands/mcp/coverage_input.rs
  crates/assay-cli/tests/coverage_declared_basis_docs.rs
  crates/assay-cli/tests/coverage_format_md.rs
  docs/architecture/ADR-028-Coverage-Report.md
Due: none

fix(mcp): keep the policy-byte parser crate-visible (#2453)
  crates/assay-mcp-server/src/config.rs
  crates/assay-mcp-server/src/main.rs
  crates/assay-mcp-server/src/policy_byte_limit.rs
  scripts/ci/check-mcp-policy-reader-routing.py
  scripts/ci/test-check-mcp-policy-reader-routing.sh
Due: none

docs(coverage): bound unknown-tool interpretation
  crates/assay-cli/tests/coverage_declared_basis_docs.rs
  crates/assay-cli/tests/coverage_format_md.rs
  docs/ops/MCP-TOOL-TAXONOMY-AND-COVERAGE-RUNBOOK.md
Due: none

test(coverage): pin literal wildcard declarations
  crates/assay-cli/src/cli/commands/coverage/format_md.rs
  crates/assay-cli/src/cli/commands/mcp/coverage_input.rs
  crates/assay-cli/tests/coverage_declared_basis_docs.rs
  crates/assay-cli/tests/coverage_format_md.rs
  docs/architecture/ADR-028-Coverage-Report.md
Due: none

chore(release): prepare v5.3.0
  CHANGELOG.md
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  crates/assay-adapter-a2a/Cargo.toml
  crates/assay-adapter-acp/Cargo.toml
  crates/assay-adapter-api/Cargo.toml
  crates/assay-adapter-ucp/Cargo.toml
  crates/assay-core/Cargo.toml
  crates/assay-sim/Cargo.toml
  docs/generated/agent-golden-path.json
  docs/guides/agent-golden-path.md
  fuzz/Cargo.lock
  packaging/agent-plugin/plugin.json
  packaging/agent-plugin/skills/assay-golden-path/references/agent-golden-path.json
  packaging/claude-plugin/skills/assay-golden-path/references/agent-golden-path.json
Due: cargo-deny, cargo-audit

fix(mcp): keep ServerConfig semver-compatible without dropping the policy ceiling (#2453) (#2454)
  CHANGELOG.md
  crates/assay-mcp-server/src/config.rs
  crates/assay-mcp-server/src/main.rs
  crates/assay-mcp-server/src/policy_byte_limit.rs
  crates/assay-mcp-server/src/tools/policy_read.rs
  scripts/ci/check-mcp-policy-reader-routing.py
  scripts/ci/test-check-mcp-policy-reader-routing.sh
Due: none

docs(release): include adapter API in publish checks
  docs/reference/release.md
Due: none

docs(release): include adapter API in publish checks (#2476)
  docs/reference/release.md
Due: none

docs(release): count publish=false workspace packages as 7
  CLAUDE.md
Due: none

fix(runner): keep recovery registration tokens fresh
  .github/workflows/action-tests.yml
  .pre-commit-config.yaml
  infra/bpf-runner/health_check.sh
  scripts/ci/test-runner-auto-recovery.sh
Due: none

chore(release): prepare v5.3.0 (#2475)
  CHANGELOG.md
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  crates/assay-adapter-a2a/Cargo.toml
  crates/assay-adapter-acp/Cargo.toml
  crates/assay-adapter-api/Cargo.toml
  crates/assay-adapter-ucp/Cargo.toml
  crates/assay-core/Cargo.toml
  crates/assay-sim/Cargo.toml
  docs/generated/agent-golden-path.json
  docs/guides/agent-golden-path.md
  fuzz/Cargo.lock
  packaging/agent-plugin/plugin.json
  packaging/agent-plugin/skills/assay-golden-path/references/agent-golden-path.json
  packaging/claude-plugin/skills/assay-golden-path/references/agent-golden-path.json
Due: cargo-deny, cargo-audit

fix(runner): reject timed-out recovery phases
  infra/bpf-runner/health_check.sh
  scripts/ci/test-runner-auto-recovery.sh
Due: none

chore(release): promote published surfaces to v5.3.0
  .github/assay-release-tag
  README.md
  docs/AIcontext/user-flows.md
  docs/generated/agent-golden-path.json
  docs/getting-started/ci-integration.md
  docs/getting-started/index.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  docs/guides/agent-golden-path.md
  docs/index.md
  docs/reference/cli/index.md
  docs/use-cases/air-gapped.md
  docs/use-cases/ci-gate.md
  packaging/agent-plugin/skills/assay-golden-path/references/agent-golden-path.json
  packaging/claude-plugin/skills/assay-golden-path/references/agent-golden-path.json
Due: none

chore(release): promote published surfaces to v5.3.0 (#2479)
  .github/assay-release-tag
  README.md
  docs/AIcontext/user-flows.md
  docs/generated/agent-golden-path.json
  docs/getting-started/ci-integration.md
  docs/getting-started/index.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  docs/guides/agent-golden-path.md
  docs/index.md
  docs/reference/cli/index.md
  docs/use-cases/air-gapped.md
  docs/use-cases/ci-gate.md
  packaging/agent-plugin/skills/assay-golden-path/references/agent-golden-path.json
  packaging/claude-plugin/skills/assay-golden-path/references/agent-golden-path.json
Due: none

docs(coverage): state tools_declared derivation basis (#2455)
  crates/assay-cli/src/cli/commands/coverage/format_md.rs
  crates/assay-cli/src/cli/commands/coverage/generate.rs
  crates/assay-cli/src/cli/commands/mcp/coverage_input.rs
  crates/assay-cli/tests/coverage_declared_basis_docs.rs
  crates/assay-cli/tests/coverage_format_md.rs
  docs/architecture/ADR-028-Coverage-Report.md
  docs/ops/MCP-TOOL-TAXONOMY-AND-COVERAGE-RUNBOOK.md
Due: none

fix(runner): migrate legacy cron and pin timeout exits
  infra/bpf-runner/health_check.sh
  scripts/ci/test-runner-auto-recovery.sh
Due: none

fix(runner): make cron migration ownership exact
  infra/bpf-runner/health_check.sh
  scripts/ci/test-runner-auto-recovery.sh
Due: none

fix(runner): match legacy cron command position
  infra/bpf-runner/health_check.sh
  scripts/ci/test-runner-auto-recovery.sh
Due: none

test(mcp): pin has_error classifier defence (#2402)
  crates/assay-mcp-server/src/server.rs
Due: none

docs(mcp): state ignore-and-continue and fixed E_INTERNAL (#2402)
  CHANGELOG.md
  crates/assay-mcp-server/tests/outer_fallback_docs.rs
  docs/concepts/fail-safe.md
  docs/reference/mcp-api.md
Due: none

test(mcp): characterize invalid JSON ignore-and-continue (#2402)
  crates/assay-mcp-server/tests/outer_fallback_contract.rs
Due: none

test(runner): pin mixed cron migration witness
  scripts/ci/test-runner-auto-recovery.sh
Due: none

fix(runner): migrate legacy cron across token changes
  infra/bpf-runner/health_check.sh
  scripts/ci/test-runner-auto-recovery.sh
Due: none

fix(deps): update h2 past RUSTSEC-2026-0258
  Cargo.lock
  fuzz/Cargo.lock
Due: cargo-deny, cargo-audit

fix(deps): retain cargo resolver edge selections
  Cargo.lock
  fuzz/Cargo.lock
Due: cargo-deny, cargo-audit

fix(deps): update h2 past RUSTSEC-2026-0258 (#2506)
  Cargo.lock
  fuzz/Cargo.lock
Due: cargo-deny, cargo-audit

docs(product): generate capability support views
  .pre-commit-config.yaml
  docs/data/product-capabilities.v0.json
  docs/generated/product-claim-proof.md
  docs/reference/product-support.md
  scripts/ci/check-docs-generated-drift.sh
  scripts/ci/test-generate-product-capabilities.py
  scripts/docs/generate-product-capabilities.py
Due: none

mcp: reconcile outer-fallback contract truth (#2402) (#2480)
  CHANGELOG.md
  crates/assay-mcp-server/src/server.rs
  crates/assay-mcp-server/tests/outer_fallback_contract.rs
  crates/assay-mcp-server/tests/outer_fallback_docs.rs
  docs/concepts/fail-safe.md
  docs/reference/mcp-api.md
Due: none

fix(ci): isolate capability generator hook
  .pre-commit-config.yaml
Due: none
