Repository Rul1an/assay: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-audit

.pre-commit-config.yaml:

# .pre-commit-config.yaml
minimum_pre_commit_version: "4.4.0"
default_install_hook_types: [pre-commit, pre-push]

# Best practice: pin versions (rev) and periodically `pre-commit autoupdate`.
repos:
  # Baseline hygiene (stable, fast)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
        args: ["--unsafe"]
        exclude: |
          (?x)^(
            tests/fixtures/mcp/malformed\.yaml|
            tests/fixtures/golden/eval_broken\.yaml
          )$
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # GitGuardian secrets detection (manual/local opt-in; requires GITGUARDIAN_API_KEY)
  - repo: https://github.com/gitguardian/ggshield
    rev: v1.47.0
    hooks:
      - id: ggshield
        language_version: python3
        stages: [manual]

  # --- Tooling hooks (remote) ---
  # typos (spellcheck)
  - repo: https://github.com/crate-ci/typos
    rev: v1.42.1
    hooks:
      - id: typos
        types_or: [text]
        args: ["--config", ".typos.toml", "--force-exclude"]

  # actionlint (GitHub Actions workflow lint)
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint
        args: ["-config-file", ".github/actionlint.yaml"]
        files: ^\.github/workflows/.*\.ya?ml$

  # shellcheck (bash) â€” use system binary to avoid SSL/download issues
  - repo: local
    hooks:
      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        args: ["-x", "-S", "warning"]
        language: system
        types: [shell]

  # --- Rust: fmt on commit (fast), clippy on push (heavier) ---
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt --check
        entry: bash -lc 'cargo fmt --all -- --check'
        language: system
        types_or: [rust]
        always_run: true
        pass_filenames: false

      # --- Dependency security (shift-left) ---
      - id: cargo-deny
        name: cargo deny (advisories, licenses, bans, sources)
        entry: bash -lc 'cargo deny check advisories bans licenses sources'
        language: system
        pass_filenames: false
        # Only run when deps/policy change (avoids noise on unrelated commits)
        files: ^(Cargo\.lock|Cargo\.toml|crates/.*/Cargo\.toml|deny\.toml)$
        stages: [pre-commit]

      - id: cargo-audit
        name: cargo audit (RustSec)
        entry: bash -lc 'cargo audit'
        language: system
        pass_filenames: false
        files: ^Cargo\.lock$
        stages: [pre-push]
      - id: cargo-clippy
        name: cargo clippy (workspace, deny warnings)
        entry: scripts/precommit/cargo-clippy.sh
        language: system
        stages: [pre-push]
        pass_filenames: false

      - id: linux-check
        name: linux compile gate (target/multipass)
        entry: bash scripts/ci/check-linux.sh
        language: system
        stages: [pre-push]
        pass_filenames: false
        # Default: cross-compile only (ASSAY_LINUX_CHECK_MODE=target), with timeout so pre-push does not hang.
        # ASSAY_LINUX_TARGET_TIMEOUT=300 (default). Set =multipass for full VM clippy.

docs(3097): align latency provenance to supported figures and defend hook selector scope
  .pre-commit-config.yaml
  README.md
  scripts/ci/check-python-artifact-truth.py
  scripts/ci/test-check-python-artifact-truth.sh
Due: none

test(cli): size run_json probe deadline from measured Windows timings
  crates/assay-cli/tests/stdout_json_write_contract.rs
Due: none

test(cli): diagnose last-byte time when a bounded probe expires
  crates/assay-cli/tests/stdout_json_write_contract.rs
  tests/support/bounded_process.rs
Due: none

docs: record accepted launch definition (Refs #3098)
  AGENTS.md
  README.md
  docs/LAUNCH.md
Due: none

docs: define the coverage-analysis traces the validate() example already loads
  docs/getting-started/python-quickstart.md
Due: none

ci: require each documented-keys PAGES entry to be load-bearing
  scripts/ci/check-docs-serialized-keys.py
  scripts/ci/test-check-docs-serialized-keys.sh
Due: none

test(evidence): plant rebuild test fixtures via public store API (Refs #2492)
  crates/assay-cli/tests/evidence_store_test.rs
  crates/assay-evidence/src/store/mod.rs
  crates/assay-evidence/src/store/object_store_backend.rs
Due: none

test(evidence): consume bytes directly in assay-cli dev-dependencies (Refs #2492)
  Cargo.lock
  crates/assay-cli/Cargo.toml
  crates/assay-cli/tests/evidence_store_test.rs
  crates/assay-evidence/src/store/mod.rs
Due: cargo-deny, cargo-audit

ci: give the Windows test job a 30-minute budget
  .github/workflows/ci.yml
  scripts/ci/test-ci-job-timeouts-contract.sh
Due: none

release: prepare 6.6.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/assay-adapter-a2a/Cargo.toml
  crates/assay-adapter-acp/Cargo.toml
  crates/assay-adapter-api/Cargo.toml
  crates/assay-adapter-ucp/Cargo.toml
  crates/assay-core/Cargo.toml
  crates/assay-sim/Cargo.toml
  docs/generated/agent-golden-path.json
  docs/guides/agent-golden-path.md
  fuzz/Cargo.lock
  packaging/agent-plugin/plugin.json
  packaging/agent-plugin/skills/assay-golden-path/references/agent-golden-path.json
  packaging/claude-plugin/skills/assay-golden-path/references/agent-golden-path.json
Due: cargo-deny, cargo-audit

ci: derive python-artifact-truth selector and prove entries load-bearing
  scripts/ci/check-python-artifact-truth.py
  scripts/ci/test-check-python-artifact-truth.sh
Due: none

changelog: collect #3090 index rebuild lines for 6.6.0
  CHANGELOG.md
Due: none

changelog: name Coverage.analyze() for the #3109 6.6.0 notes line
  CHANGELOG.md
Due: none

release: promote the install pin to v6.6.0
  .github/assay-release-tag
  README.md
  SECURITY.md
  docs/AIcontext/user-flows.md
  docs/generated/agent-golden-path.json
  docs/getting-started/ci-integration.md
  docs/getting-started/index.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  docs/guides/agent-golden-path.md
  docs/guides/editor-mcp-recipe.md
  docs/index.md
  docs/reference/cli/index.md
  docs/reference/release.md
  docs/use-cases/air-gapped.md
  docs/use-cases/ci-gate.md
  examples/mcp-quickstart/README.md
  packaging/agent-plugin/skills/assay-golden-path/references/agent-golden-path.json
  packaging/claude-plugin/skills/assay-golden-path/references/agent-golden-path.json
Due: none

docs: pin the published v6.6.0 image digest and release run
  docs/getting-started/installation.md
Due: none

Verify published Windows and macOS archives in the post-publication journey.
  .github/workflows/published-release-golden-path.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/data/product-capabilities.v0.json
  docs/generated/product-claim-proof.md
  docs/reference/product-support.md
  docs/reference/release.md
  scripts/ci/check-published-release-platform-opening-contract.py
  scripts/ci/fixtures/published-release-golden-path/v1/harness-manifest.json
  scripts/ci/published-release-platform-opening.sh
  scripts/ci/test-generate-product-capabilities.py
  scripts/ci/test-published-release-platform-opening-contract.sh
Due: none

security: bump cmov, lru, and rand to fixed versions
  Cargo.lock
Due: cargo-deny, cargo-audit

scratch: force published opening version check to expect 0.0.0
  scripts/ci/published-release-platform-opening.sh
Due: none

Revert "scratch: force published opening version check to expect 0.0.0"
  scripts/ci/published-release-platform-opening.sh
Due: none

release: sign a checksum manifest over every release asset
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CHANGELOG.md
  docs/getting-started/installation.md
  docs/reference/release.md
  scripts/ci/check-release-assets.sh
  scripts/ci/fixtures/published-release-golden-path/v1/harness-manifest.json
  scripts/ci/release_asset_contract.sh
  scripts/ci/release_checksum_manifest.sh
  scripts/ci/test-gh-release-download-argv.py
  scripts/ci/test-install-release-verification.sh
  scripts/ci/test-release-assets.sh
  scripts/ci/test-release-checksum-manifest.sh
  scripts/install.sh
Due: none

docs(getting-started): show offline evidence verification and prove no-network contract
  crates/gateway-evidence-replay/Cargo.toml
  docs/getting-started/installation.md
  scripts/ci/check-published-release-golden-path-contract.py
  scripts/ci/fixtures/published-release-golden-path/v1/harness-manifest.json
  scripts/ci/published-release-golden-path.sh
  scripts/ci/release_readme.py
  scripts/ci/test-published-release-golden-path-contract.sh
  scripts/ci/test-release-assets.sh
  scripts/ci/test_release_quickstart.py
Due: cargo-deny

release: prepare 6.6.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/assay-adapter-a2a/Cargo.toml
  crates/assay-adapter-acp/Cargo.toml
  crates/assay-adapter-api/Cargo.toml
  crates/assay-adapter-ucp/Cargo.toml
  crates/assay-core/Cargo.toml
  crates/assay-sim/Cargo.toml
  docs/generated/agent-golden-path.json
  docs/guides/agent-golden-path.md
  fuzz/Cargo.lock
  packaging/agent-plugin/plugin.json
  packaging/agent-plugin/skills/assay-golden-path/references/agent-golden-path.json
  packaging/claude-plugin/skills/assay-golden-path/references/agent-golden-path.json
Due: cargo-deny, cargo-audit

ci: ensure unprivileged userns permitted before unshare network isolation
  scripts/ci/fixtures/published-release-golden-path/v1/harness-manifest.json
  scripts/ci/published-release-golden-path.sh
Due: none

ci: ensure sysctl PATH when lifting userns restriction for unshare
  scripts/ci/fixtures/published-release-golden-path/v1/harness-manifest.json
  scripts/ci/published-release-golden-path.sh
Due: none

ci: fail required CI on OSV findings in Cargo.lock
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CI-CONTRACT.md
  conformance/tests/test_completion_scope.py
  scripts/ci/check-osv-cargo-lock-gate.py
  scripts/ci/test-ci-gate-expectations.sh
  scripts/ci/test-ci-hardening-b1.sh
  scripts/ci/test-ci-job-timeouts-contract.sh
  scripts/ci/test-conformance-inventory-callsite.py
  scripts/ci/test-osv-cargo-lock-gate.sh
Due: none

scratch: pin cmov 0.5.2 to prove the OSV gate fails
  Cargo.lock
Due: cargo-deny, cargo-audit

Revert "scratch: pin cmov 0.5.2 to prove the OSV gate fails"
  Cargo.lock
Due: cargo-deny, cargo-audit

ci: ignore RUSTSEC-2024-0370 until 2026-12-31
  osv-scanner.toml
Due: none

ci: write OSV ignoreUntil as a TOML date
  osv-scanner.toml
Due: none

release: promote the install pin to v6.6.1
  .github/assay-release-tag
  README.md
  SECURITY.md
  docs/AIcontext/user-flows.md
  docs/generated/agent-golden-path.json
  docs/getting-started/ci-integration.md
  docs/getting-started/index.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  docs/guides/agent-golden-path.md
  docs/guides/editor-mcp-recipe.md
  docs/index.md
  docs/reference/cli/index.md
  docs/reference/release.md
  docs/use-cases/air-gapped.md
  docs/use-cases/ci-gate.md
  examples/mcp-quickstart/README.md
  packaging/agent-plugin/skills/assay-golden-path/references/agent-golden-path.json
  packaging/claude-plugin/skills/assay-golden-path/references/agent-golden-path.json
Due: none

docs(install): pin the 6.6.1 image digest and release run
  docs/getting-started/installation.md
Due: none

ci: split lane-check workflow_run trigger off the Scorecard pairing
  .github/workflows/assay-runner-lane-check-refresh.yml
  .github/workflows/assay-runner-lane-check.yml
  .github/workflows/kernel-matrix.yml
  CI-CONTRACT.md
  docs/BRANCH-PROTECTION-SETUP.md
  scripts/ci/assay_runner_lane_check.py
Due: none

ci: gate IgnoredVulns so a comment is not the expiry rule
  .pre-commit-config.yaml
  scripts/ci/check-osv-cargo-lock-gate.py
  scripts/ci/test-osv-cargo-lock-gate.sh
Due: none

evidence: verify incident packages offline (Refs #2493)
  crates/assay-cli/src/cli/commands/evidence/mod.rs
  crates/assay-cli/src/cli/commands/evidence/verify_incident_package.rs
  crates/assay-cli/tests/evidence_verify_incident_package_cli.rs
  crates/assay-evidence/src/incident_package/mod.rs
  crates/assay-evidence/src/incident_package/verify.rs
  crates/assay-evidence/src/lib.rs
  crates/assay-evidence/tests/fixtures/incident_package/context_a1.json
  crates/assay-evidence/tests/fixtures/incident_package/ordering_p3_unknown_format_and_p4_digest.tar
  crates/assay-evidence/tests/fixtures/incident_package/ordering_p4_digest_and_p11_stale.tar
  crates/assay-evidence/tests/fixtures/incident_package/ordering_p8_cap1_rules_and_p11_stale.tar
  crates/assay-evidence/tests/fixtures/incident_package/refusal_p11_stale_assessment.tar
  crates/assay-evidence/tests/fixtures/incident_package/refusal_p2_input_shape.tar
  crates/assay-evidence/tests/fixtures/incident_package/refusal_p3_unknown_format.tar
  crates/assay-evidence/tests/fixtures/incident_package/refusal_p4_digest.tar
  crates/assay-evidence/tests/fixtures/incident_package/refusal_p5_locator.tar
  crates/assay-evidence/tests/fixtures/incident_package/refusal_p6_trust_input.tar
  crates/assay-evidence/tests/fixtures/incident_package/refusal_p7_disclosure.tar
  crates/assay-evidence/tests/fixtures/incident_package/refusal_p8_cap1_rules.tar
  crates/assay-evidence/tests/fixtures/incident_package/refusal_p9_claim_boundary.tar
  crates/assay-evidence/tests/fixtures/incident_package/valid_present_empty.tar
  crates/assay-evidence/tests/incident_package_verify.rs
  docs/architecture/CLI-JSON-IDENTITIES.md
  scripts/ci/check-evidence-vocabulary.py
Due: none

release: pin cosign to the GHSA-fx35-mq7g-6g98 fix
  .github/workflows/release.yml
  CHANGELOG.md
  docs/getting-started/installation.md
  docs/reference/release.md
  scripts/ci/fixtures/published-release-golden-path/v1/harness-manifest.json
  scripts/ci/test-gh-release-download-argv.py
  scripts/ci/test-install-release-verification.sh
  scripts/ci/test-release-checksum-manifest.sh
  scripts/install.sh
Due: none

docs(getting-started): restore generic profile-version check and clarify verify exit codes (Refs #3123)
  docs/getting-started/installation.md
  scripts/ci/check-published-release-golden-path-contract.py
  scripts/ci/test-published-release-golden-path-contract.sh
Due: none

evidence: verify DSSE attestation signature and subject in incident package (Refs #2493)
  crates/assay-evidence/Cargo.toml
  crates/assay-evidence/src/incident_package/verify.rs
  crates/assay-evidence/tests/fixtures/incident_package/context_a1.json
  crates/assay-evidence/tests/incident_package_verify.rs
Due: cargo-deny

test(release): count the signed-manifest family in the oracle
  scripts/ci/test-verify-release.sh
Due: none

run: ingest the trace and evaluate assertions against this run's episodes (Refs #3116)
  CHANGELOG.md
  crates/assay-cli/src/cli/args/replay.rs
  crates/assay-cli/src/cli/args/run.rs
  crates/assay-cli/src/cli/commands/pipeline.rs
  crates/assay-cli/tests/contract_trace_assertion_input.rs
  crates/assay-core/src/agent_assertions/mod.rs
  crates/assay-core/src/engine/runner_next/assertions.rs
  crates/assay-core/src/engine/runner_next/execute.rs
  crates/assay-core/src/storage/schema.rs
  crates/assay-core/src/storage/store.rs
  crates/assay-core/src/storage/store_eval_scope.rs
  crates/assay-core/src/trace/ingest.rs
Due: none

install: publish through the Homebrew tap and fail CI when the formula lags the release
  docs/getting-started/installation.md
  docs/reference/release.md
  scripts/ci/check-assay-release-pin.sh
  scripts/ci/check-release-surface.sh
  scripts/ci/test-check-assay-release-pin.sh
  scripts/ci/test-check-release-surface.sh
Due: none
