Repository Rul1an/assay: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, cargo-fmt

.pre-commit-config.yaml:

# .pre-commit-config.yaml
minimum_pre_commit_version: "3.6.0"

# Best practice: pin versions (rev) and periodically `pre-commit autoupdate`.
repos:
  # Baseline hygiene (stable, fast)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
        args: ["--unsafe"]
        exclude: |
          (?x)^(
            tests/fixtures/mcp/malformed\.yaml|
            tests/fixtures/golden/eval_broken\.yaml
          )$
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # --- Tooling hooks (system) ---
  # typos (spellcheck)
  - repo: local
    hooks:
      - id: typos
        name: typos (spellcheck)
        entry: typos
        language: system
        types_or: [text]
        args: ["--config", ".typos.toml"]
        pass_filenames: true
        exclude: |
          (?x)^(
            crates/assay-ebpf/src/vmlinux\.rs|
            docs/MCP_TESTPLAN_CLAUDE_DESKTOP\.md|
            examples/.*|
            .*\.jsonl$
          )

  # actionlint (GitHub Actions workflow lint)
  - repo: local
    hooks:
      - id: actionlint
        name: actionlint (GitHub Actions)
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.ya?ml$

  # shellcheck (bash)
  - repo: local
    hooks:
      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]
        args: ["-x", "-S", "warning"]

  # --- Rust: fmt on commit (fast), clippy on push (heavier) ---
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt --check
        entry: bash -lc 'cargo fmt --all -- --check'
        language: system
        types_or: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy (workspace, deny warnings)
        entry: bash -lc 'cargo clippy --workspace --all-targets --all-features -- -D warnings'
        language: system
        stages: [pre-push]
        pass_filenames: false

chore(lint): implement Linux-only clippy wrapper and CI gate
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/precommit/cargo-clippy-linux.sh
Due: actionlint

chore(lint): Final SOTA refinements for CI/CD
  .github/actionlint.yaml
  .github/workflows/ci.yml
  scripts/precommit/cargo-clippy-linux.sh
Due: actionlint

chore(lint): definitive SOTA 2026 stability pass
  .pre-commit-config.yaml
  .typos.toml
  crates/assay-core/src/config/resolve.rs
  scripts/precommit/cargo-clippy-linux.sh
Due: cargo-fmt

chore(ci): fix ShellCheck SC2015 and harden actionlint
  .github/workflows/kernel-matrix.yml
  .pre-commit-config.yaml
Due: actionlint

chore(ci): final production polish
  .github/workflows/ci.yml
  .github/workflows/kernel-matrix.yml
Due: actionlint

chore(ci): definitive SOTA 2026 stability pass
  .github/workflows/kernel-matrix.yml
  .pre-commit-config.yaml
Due: actionlint

chore(ci): fix clippy + stabilize kernel-matrix perms
  .github/workflows/ci.yml
  .github/workflows/kernel-matrix.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  .typos.toml
  crates/assay-monitor/src/loader.rs
Due: actionlint, cargo-fmt

fix(clippy): address needless borrows and unnecessary casts
  crates/assay-cli/src/cli/commands/monitor.rs
  crates/assay-cli/tests/lsm_deny_smoke.rs
Due: cargo-fmt

ci: split ebpf smoke jobs to satisfy actionlint and harden self-hosted gating
  .github/workflows/ci.yml
  .github/workflows/kernel-matrix.yml
  .github/workflows/release.yml
  crates/assay-common/src/lib.rs
  scripts/verify_lsm_docker.sh
Due: actionlint, cargo-fmt

ci: add concurrency and harden all apt calls with noninteractive/no-recommends
  .github/workflows/ci.yml
Due: actionlint

fix(ci): clean up dangling braces in apt install blocks
  .github/workflows/ci.yml
  .github/workflows/kernel-matrix.yml
  .github/workflows/release.yml
Due: actionlint

refactor(ci): consolidate apt mirror failover to shared script and enforce --locked bpf-linker
  .github/workflows/ci.yml
  .github/workflows/kernel-matrix.yml
  .github/workflows/release.yml
  scripts/ci/apt_ports_failover.sh
Due: actionlint

fix(ci): optimize apt failover script and fix matrix-test artifact sequencing
  .github/workflows/kernel-matrix.yml
  scripts/ci/apt_ports_failover.sh
Due: actionlint

fix(ci): restore function definitions in apt failover script
  scripts/ci/apt_ports_failover.sh
Due: none

fix(ci): make apt source detection dynamic to prevent grep warnings
  scripts/ci/apt_ports_failover.sh
Due: none

fix(ci): make apt failover script rewrite ANY ubuntu-ports mirror (cleans leftovers)
  scripts/ci/apt_ports_failover.sh
Due: none

chore(ci): make apt failover script executable in git index
  scripts/ci/apt_ports_failover.sh
Due: none

chore(release): bump version to 2.2.0 and update changelog
  CHANGELOG.md
  Cargo.toml
Due: none

chore: update Cargo.lock for v2.2.0
  Cargo.lock
Due: none

fix(ci): install ARM64 sysroot (libc6-dev-arm64-cross) for link fix
  .github/workflows/release.yml
Due: actionlint

fix(ci): install libsqlite3-dev:arm64 for cross-linking
  .github/workflows/release.yml
Due: actionlint

fix(ci): fix yaml indentation for apt source heredoc
  .github/workflows/release.yml
Due: actionlint

fix(ci): use python for safe deb822 arch rewrite and dynamic os release codename
  .github/workflows/release.yml
Due: actionlint

fix(ci): correct heredoc indentation syntax for strict shell/yaml parsing
  .github/workflows/release.yml
Due: actionlint

fix(ci): restore correct 10-space indent for yaml heredocs
  .github/workflows/release.yml
Due: actionlint

fix(ci): robust idempotent sources.list rewrite for azure mirrors
  .github/workflows/release.yml
Due: actionlint

fix(ci): refactor robust multiarch logic to external python script (resolves linter)
  .github/workflows/release.yml
  scripts/ci/apt_ports_failover.sh
  scripts/ci/fix_apt_sources.py
Due: actionlint

chore: bump all crate versions to 2.2.0
  Cargo.lock
  crates/assay-ebpf/Cargo.toml
  crates/assay-monitor/Cargo.toml
  crates/assay-policy/Cargo.toml
  crates/assay-xtask/Cargo.toml
Due: none

chore: bump versions to 2.2.1 to resolve publish conflict
  Cargo.lock
  Cargo.toml
  crates/assay-ebpf/Cargo.toml
  crates/assay-monitor/Cargo.toml
  crates/assay-policy/Cargo.toml
  crates/assay-xtask/Cargo.toml
Due: none

fix(ci): relax self-hosted runner labels to unblock queue
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: actionlint

chore: bump versions to 2.2.2 (recovery)
  Cargo.lock
  Cargo.toml
  crates/assay-ebpf/Cargo.toml
  crates/assay-monitor/Cargo.toml
  crates/assay-policy/Cargo.toml
  crates/assay-xtask/Cargo.toml
Due: none

fix(release): idempotent publishing + manual lsm gate
  .github/workflows/release.yml
  scripts/ci/publish_idempotent.sh
Due: actionlint

fix(release): secure 404 handling in idempotent publisher
  scripts/ci/publish_idempotent.sh
Due: none

fix(typos): correct typo in publish script comment
  scripts/ci/publish_idempotent.sh
Due: none

fix(release): bypass crates.io WAF (User-Agent header) + safe tempfile log
  scripts/ci/publish_idempotent.sh
Due: none

feat(release): final hardening (idempotent publish skip 403, optimized wheels)
  .github/workflows/release.yml
  scripts/ci/publish_idempotent.sh
Due: actionlint

style: apply cargo fmt fixes
  Cargo.toml
  crates/assay-common/src/lib.rs
  crates/assay-policy/src/tiers.rs
  docs/release.md
Due: cargo-fmt

fix(ci): unblock release (unsafe allows + relax lints + fmt)
  Cargo.toml
  crates/assay-cli/src/main.rs
  crates/assay-core/src/mcp/tests.rs
  crates/assay-xtask/src/main.rs
Due: cargo-fmt
