Repository Rul1an/assay: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-audit

cargo-deny:
  name: cargo deny (advisories, licenses, bans, sources)
  entry: bash -lc 'cargo deny check advisories bans licenses sources'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cargo-audit:
  name: cargo audit (RustSec)
  entry: bash -lc 'cargo audit'
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(registry): MCP04a-3.2b close multi-subject digest bypass + DER encoding axis
  crates/assay-registry/src/sigstore_signature.rs
Due: none

feat(registry): MCP04a-3.2b raw ECDSA + in-toto subject-digest sub-primitives (#1704)
  Cargo.lock
  crates/assay-registry/Cargo.toml
  crates/assay-registry/src/lib.rs
  crates/assay-registry/src/sigstore_identity.rs
  crates/assay-registry/src/sigstore_signature.rs
Due: cargo-deny, cargo-audit

feat(registry): MCP04a-3.3a offline DSSE envelope / PAE primitive
  crates/assay-registry/src/dsse.rs
  crates/assay-registry/src/lib.rs
  crates/assay-registry/src/sigstore_signature.rs
Due: none

test(registry): MCP04a-3.3a keyid-is-ignored regression
  crates/assay-registry/src/dsse.rs
Due: none

feat(registry): MCP04a-3.3a offline DSSE envelope / PAE primitive (#1705)
  crates/assay-registry/src/dsse.rs
  crates/assay-registry/src/lib.rs
  crates/assay-registry/src/sigstore_signature.rs
Due: none

feat(registry): MCP04a-3.3b offline Sigstore DSSE bundle composition
  crates/assay-registry/src/lib.rs
  crates/assay-registry/src/sigstore_bundle.rs
Due: none

test(registry): MCP04a-3.3b tlog-present + root-withheld regression
  crates/assay-registry/src/sigstore_bundle.rs
Due: none

feat(registry): MCP04a-3.3b offline Sigstore DSSE bundle composition (#1706)
  crates/assay-registry/src/lib.rs
  crates/assay-registry/src/sigstore_bundle.rs
Due: none

feat(registry): MCP04a-3.3c offline Rekor v2 inclusion verifier
  crates/assay-registry/src/lib.rs
  crates/assay-registry/src/rekor.rs
  crates/assay-registry/tests/fixtures/rekor_v2/README.md
  crates/assay-registry/tests/fixtures/rekor_v2/rekor2-checkpoint-missing-root-hash_fail/bundle.sigstore.json
  crates/assay-registry/tests/fixtures/rekor_v2/rekor2-checkpoint-missing-root-hash_fail/trusted_root.json
  crates/assay-registry/tests/fixtures/rekor_v2/rekor2-checkpoint-no-matching-signature_fail/bundle.sigstore.json
  crates/assay-registry/tests/fixtures/rekor_v2/rekor2-checkpoint-no-matching-signature_fail/trusted_root.json
  crates/assay-registry/tests/fixtures/rekor_v2/rekor2-dsse-happy-path/bundle.sigstore.json
  crates/assay-registry/tests/fixtures/rekor_v2/rekor2-dsse-happy-path/trusted_root.json
  crates/assay-registry/tests/fixtures/rekor_v2/rekor2-dsse-mismatch-sig_fail/bundle.sigstore.json
  crates/assay-registry/tests/fixtures/rekor_v2/rekor2-dsse-mismatch-sig_fail/trusted_root.json
  crates/assay-registry/tests/fixtures/rekor_v2/rekor2-happy-path/bundle.sigstore.json
  crates/assay-registry/tests/fixtures/rekor_v2/rekor2-happy-path/trusted_root.json
  crates/assay-registry/tests/fixtures/rekor_v2/rekor2-no-inclusion-proof_fail/bundle.sigstore.json
  crates/assay-registry/tests/fixtures/rekor_v2/rekor2-no-inclusion-proof_fail/trusted_root.json
  crates/assay-registry/tests/fixtures/rekor_v2/v1-hashedrekord/bundle.sigstore.json
  crates/assay-registry/tests/rekor_v2.rs
Due: none

fix(registry): MCP04a-3.3c harden Rekor v2 verifier (log identity, strict body, cardinality)
  crates/assay-registry/Cargo.toml
  crates/assay-registry/src/rekor.rs
  crates/assay-registry/tests/fixtures/rekor_v2/rekor2-checkpoint-two-sigs-cosigned/bundle.sigstore.json
  crates/assay-registry/tests/fixtures/rekor_v2/rekor2-checkpoint-two-sigs-cosigned/trusted_root.json
  crates/assay-registry/tests/rekor_v2.rs
Due: cargo-deny

fix(ci): tolerate transient GitHub connection resets in lane check
  scripts/ci/assay_runner_lane_check.py
Due: none

fix(registry): MCP04a-3.3c bind checkpoint origin to pinned log + parser regressions
  crates/assay-registry/src/rekor.rs
  crates/assay-registry/tests/rekor_v2.rs
Due: none

feat(registry): MCP04a-3.3c offline Rekor v2 inclusion verifier (#1707)
  crates/assay-registry/Cargo.toml
  crates/assay-registry/src/lib.rs
  crates/assay-registry/src/rekor.rs
  crates/assay-registry/tests/fixtures/rekor_v2/README.md
  crates/assay-registry/tests/fixtures/rekor_v2/rekor2-checkpoint-missing-root-hash_fail/bundle.sigstore.json
  crates/assay-registry/tests/fixtures/rekor_v2/rekor2-checkpoint-missing-root-hash_fail/trusted_root.json
  crates/assay-registry/tests/fixtures/rekor_v2/rekor2-checkpoint-no-matching-signature_fail/bundle.sigstore.json
  crates/assay-registry/tests/fixtures/rekor_v2/rekor2-checkpoint-no-matching-signature_fail/trusted_root.json
  crates/assay-registry/tests/fixtures/rekor_v2/rekor2-checkpoint-two-sigs-cosigned/bundle.sigstore.json
  crates/assay-registry/tests/fixtures/rekor_v2/rekor2-checkpoint-two-sigs-cosigned/trusted_root.json
  crates/assay-registry/tests/fixtures/rekor_v2/rekor2-dsse-happy-path/bundle.sigstore.json
  crates/assay-registry/tests/fixtures/rekor_v2/rekor2-dsse-happy-path/trusted_root.json
  crates/assay-registry/tests/fixtures/rekor_v2/rekor2-dsse-mismatch-sig_fail/bundle.sigstore.json
  crates/assay-registry/tests/fixtures/rekor_v2/rekor2-dsse-mismatch-sig_fail/trusted_root.json
  crates/assay-registry/tests/fixtures/rekor_v2/rekor2-happy-path/bundle.sigstore.json
  crates/assay-registry/tests/fixtures/rekor_v2/rekor2-happy-path/trusted_root.json
  crates/assay-registry/tests/fixtures/rekor_v2/rekor2-no-inclusion-proof_fail/bundle.sigstore.json
  crates/assay-registry/tests/fixtures/rekor_v2/rekor2-no-inclusion-proof_fail/trusted_root.json
  crates/assay-registry/tests/fixtures/rekor_v2/v1-hashedrekord/bundle.sigstore.json
  crates/assay-registry/tests/rekor_v2.rs
Due: cargo-deny

fix(ci): tolerate transient GitHub connection resets in lane check (#1708)
  scripts/ci/assay_runner_lane_check.py
Due: none

feat(registry): MCP04a-3.1b accept P-384/SHA-384 Fulcio CA signatures
  crates/assay-registry/src/sigstore_offline.rs
  crates/assay-registry/tests/fulcio_chain.rs
Due: none

feat(registry): MCP04a-3.1b accept P-384/SHA-384 Fulcio CA signatures (#1709)
  crates/assay-registry/src/sigstore_offline.rs
  crates/assay-registry/tests/fulcio_chain.rs
Due: none

test(registry): a-3.3c checkpoint extension-lines regression
  crates/assay-registry/src/rekor.rs
Due: none

feat(registry): MCP04a-3.4 compose Sigstore-keyless carrier dimensions
  crates/assay-registry/src/supply_chain.rs
  crates/assay-registry/tests/supply_chain_sigstore.rs
Due: none

refactor(registry): a-3.4 single-source Rekor requirement + reject non-object DSSE
  crates/assay-registry/src/supply_chain.rs
  crates/assay-registry/tests/supply_chain_sigstore.rs
Due: none

fix(registry): a-3.4 dsse_pae is signature/PAE-only (CodeRabbit finding 3)
  crates/assay-registry/src/supply_chain.rs
  crates/assay-registry/tests/supply_chain_sigstore.rs
Due: none

fix(registry): a-3.4 gate keyless DSSE on the in-toto payloadType (CodeRabbit)
  crates/assay-registry/src/supply_chain.rs
  crates/assay-registry/tests/supply_chain_sigstore.rs
Due: none

feat(registry): MCP04a-3.4 compose Sigstore-keyless carrier dimensions (producer-only) (#1710)
  crates/assay-registry/src/rekor.rs
  crates/assay-registry/src/supply_chain.rs
  crates/assay-registry/tests/supply_chain_sigstore.rs
Due: none

docs(security): MCP04 OWASP mapping Partial -> Strong (scoped)
  docs/security/OWASP-MCP-TOP10-MAPPING.md
Due: none

docs(security): de-scorecard the MCP04 mapping summary wording
  docs/security/OWASP-MCP-TOP10-MAPPING.md
Due: none

docs(registry): refresh stale a-3.4 producer-only note (consumer landed)
  crates/assay-registry/tests/supply_chain_sigstore.rs
Due: none

docs(security): MCP04 OWASP mapping Partial -> Strong (scoped) (#1711)
  crates/assay-registry/tests/supply_chain_sigstore.rs
  docs/security/OWASP-MCP-TOP10-MAPPING.md
Due: none

chore(release): prep v3.27.0 (version bump + changelog + honest coverage claims)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/DISTRIBUTION-SUBMISSION-GUIDE.md
Due: cargo-deny, cargo-audit

chore(release): prep v3.27.0 (version bump + changelog + honest coverage claims) (#1712)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/DISTRIBUTION-SUBMISSION-GUIDE.md
Due: cargo-deny, cargo-audit

docs(experiments): independent evidenceRef recomputation consumer
  docs/experiments/evidenceref-recompute-consumer-2026-06/README.md
  docs/experiments/evidenceref-recompute-consumer-2026-06/evidenceref_consumer.py
  docs/experiments/evidenceref-recompute-consumer-2026-06/independent_consumer.py
  docs/experiments/evidenceref-recompute-consumer-2026-06/result.json
  docs/experiments/evidenceref-recompute-consumer-2026-06/test_evidenceref_consumer.py
  docs/experiments/evidenceref-recompute-consumer-2026-06/vectors.json
Due: none

docs(experiments): confine vectors path + drop internal id from evidenceRef consumer
  docs/experiments/evidenceref-recompute-consumer-2026-06/evidenceref_consumer.py
  docs/experiments/evidenceref-recompute-consumer-2026-06/independent_consumer.py
  docs/experiments/evidenceref-recompute-consumer-2026-06/result.json
  docs/experiments/evidenceref-recompute-consumer-2026-06/test_evidenceref_consumer.py
  docs/experiments/evidenceref-recompute-consumer-2026-06/vectors.json
Due: none

feat(registry): assay registry supply-chain-conformance carrier emitter (A5a-1)
  CHANGELOG.md
  Cargo.lock
  crates/assay-cli/Cargo.toml
  crates/assay-cli/src/cli/args/mod.rs
  crates/assay-cli/src/cli/args/registry.rs
  crates/assay-cli/src/cli/commands/dispatch.rs
  crates/assay-cli/src/cli/commands/mod.rs
  crates/assay-cli/src/cli/commands/registry.rs
  crates/assay-cli/src/cli/commands/supply_chain_conformance.rs
  crates/assay-cli/tests/fixtures/supply_chain_conformance_input.example.json
Due: cargo-deny, cargo-audit

docs(experiments): harden vectors-path validation; fix README lint
  docs/experiments/evidenceref-recompute-consumer-2026-06/README.md
  docs/experiments/evidenceref-recompute-consumer-2026-06/evidenceref_consumer.py
  docs/experiments/evidenceref-recompute-consumer-2026-06/independent_consumer.py
  docs/experiments/evidenceref-recompute-consumer-2026-06/test_evidenceref_consumer.py
Due: none

docs(experiments): add evidenceRef recomputation vectors (#1714)
  docs/experiments/evidenceref-recompute-consumer-2026-06/README.md
  docs/experiments/evidenceref-recompute-consumer-2026-06/evidenceref_consumer.py
  docs/experiments/evidenceref-recompute-consumer-2026-06/independent_consumer.py
  docs/experiments/evidenceref-recompute-consumer-2026-06/result.json
  docs/experiments/evidenceref-recompute-consumer-2026-06/test_evidenceref_consumer.py
  docs/experiments/evidenceref-recompute-consumer-2026-06/vectors.json
Due: none

fix(registry): map stdout write failures to EXIT_INFRA_ERROR (CodeRabbit Major)
  crates/assay-cli/src/cli/commands/supply_chain_conformance.rs
Due: none

feat(registry): assay registry supply-chain-conformance carrier emitter (#1715)
  CHANGELOG.md
  Cargo.lock
  crates/assay-cli/Cargo.toml
  crates/assay-cli/src/cli/args/mod.rs
  crates/assay-cli/src/cli/args/registry.rs
  crates/assay-cli/src/cli/commands/dispatch.rs
  crates/assay-cli/src/cli/commands/mod.rs
  crates/assay-cli/src/cli/commands/registry.rs
  crates/assay-cli/src/cli/commands/supply_chain_conformance.rs
  crates/assay-cli/tests/fixtures/supply_chain_conformance_input.example.json
Due: cargo-deny, cargo-audit

docs: auto-update diagrams and crate info
  docs/AIcontext/architecture-diagrams.md
  docs/generated/crate-deps.mermaid
Due: none

chore(release): prep v3.28.0 (supply-chain-conformance CLI emitter)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Due: cargo-deny, cargo-audit

chore(release): prep v3.28.0 (supply-chain-conformance CLI emitter) (#1717)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
Due: cargo-deny, cargo-audit

feat(registry): wire DSSE input for supply-chain-conformance emitter
  CHANGELOG.md
  crates/assay-cli/src/cli/args/registry.rs
  crates/assay-cli/src/cli/commands/supply_chain_conformance.rs
  crates/assay-cli/tests/fixtures/supply_chain_conformance_dsse/input.dsse.example.json
  crates/assay-cli/tests/fixtures/supply_chain_conformance_dsse/pinned-ed25519.trustedkey.json
  crates/assay-cli/tests/fixtures/supply_chain_conformance_dsse/slsa-provenance.dsse.json
  crates/assay-cli/tests/fixtures/supply_chain_conformance_dsse/slsa-provenance.statement.json
Due: none

feat(registry): wire DSSE input for supply-chain-conformance emitter (#1718)
  CHANGELOG.md
  crates/assay-cli/src/cli/args/registry.rs
  crates/assay-cli/src/cli/commands/supply_chain_conformance.rs
  crates/assay-cli/tests/fixtures/supply_chain_conformance_dsse/input.dsse.example.json
  crates/assay-cli/tests/fixtures/supply_chain_conformance_dsse/pinned-ed25519.trustedkey.json
  crates/assay-cli/tests/fixtures/supply_chain_conformance_dsse/slsa-provenance.dsse.json
  crates/assay-cli/tests/fixtures/supply_chain_conformance_dsse/slsa-provenance.statement.json
Due: none

Path conditions:
  cargo-deny: any of: ^(Cargo\.lock|Cargo\.toml|crates/.*/Cargo\.toml|deny\.toml)$
  cargo-audit: any of: ^Cargo\.lock$
