Repository Rul1an/assay: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-audit

cargo-deny:
  name: cargo deny (advisories, licenses, bans, sources)
  entry: bash -lc 'cargo deny check advisories bans licenses sources'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cargo-audit:
  name: cargo audit (RustSec)
  entry: bash -lc 'cargo audit'
  language: system
  pass_filenames: false
  stages:
  - pre-push

docs(agents): stop naming a dead script in a governance rule
  AGENTS.md
Due: none

docs(agents): regulate target lifetime, not target naming
  AGENTS.md
Due: none

fix(cli): encode config recovery as JSON argv (#2204)
  crates/assay-cli/Cargo.toml
  crates/assay-cli/src/cli/commands/pipeline_error.rs
  crates/assay-cli/src/exit_codes.rs
  crates/assay-cli/tests/config_recovery_argv_contract.rs
  docs/AIcontext/decision-trees.md
  docs/AIcontext/entry-points.md
  docs/AIcontext/quick-reference.md
  docs/architecture/SPEC-PR-Gate-Outputs-v1.md
  docs/superpowers/plans/2026-08-10-cfg-parse-json-argv.md
Due: cargo-deny

docs(agents): drop the exception clause and regulate the hand-exported case
  AGENTS.md
Due: none

fix(cli): publish the doctor config failure as a registered diagnosis
  .agents/skills/assay-golden-path/SKILL.md
  .claude/skills/assay-golden-path/SKILL.md
  crates/assay-cli/src/cli/commands/doctor/implementation.rs
  crates/assay-cli/tests/agent_golden_path_contract.rs
  crates/assay-cli/tests/config_recovery_argv_contract.rs
  docs/generated/agent-golden-path.json
  docs/guides/agent-golden-path.md
  docs/superpowers/plans/2026-08-10-doctor-json-diagnosis.md
  packaging/claude-plugin/skills/assay-golden-path/SKILL.md
  packaging/claude-plugin/skills/assay-golden-path/references/agent-golden-path.json
  scripts/docs/generate-agent-golden-path.py
Due: none

test(ci): derive the allowed evidence issue from the contract
  .agents/skills/assay-golden-path/SKILL.md
  .claude/skills/assay-golden-path/SKILL.md
  docs/generated/agent-golden-path.json
  docs/guides/agent-golden-path.md
  packaging/claude-plugin/skills/assay-golden-path/SKILL.md
  packaging/claude-plugin/skills/assay-golden-path/references/agent-golden-path.json
  scripts/ci/test-agent-golden-path-skill-hardening.sh
  scripts/docs/generate-agent-golden-path.py
Due: none

docs(agents): apply the stop-rule literally and delete the exception
  AGENTS.md
Due: none

feat(cli): register E_EVIDENCE_INTEGRITY as a content-only integrity reason
  crates/assay-cli/src/exit_codes.rs
  docs/architecture/SPEC-PR-Gate-Outputs-v1.md
Due: none

docs(golden-path): name the config case the contract test actually drives
  .agents/skills/assay-golden-path/SKILL.md
  .claude/skills/assay-golden-path/SKILL.md
  docs/generated/agent-golden-path.json
  docs/guides/agent-golden-path.md
  packaging/claude-plugin/skills/assay-golden-path/SKILL.md
  packaging/claude-plugin/skills/assay-golden-path/references/agent-golden-path.json
  scripts/docs/generate-agent-golden-path.py
Due: none

docs(agents): build in the worktree target, remove what you export by hand (#2205)
  AGENTS.md
  docs/guides/agent-golden-path.md
Due: none

fix(cli): stop publishing exit contracts this change made untrue
  .agents/skills/assay-golden-path/SKILL.md
  .claude/skills/assay-golden-path/SKILL.md
  crates/assay-cli/tests/agent_golden_path_contract.rs
  docs/generated/agent-golden-path.json
  docs/reference/cli/doctor.md
  packaging/claude-plugin/skills/assay-golden-path/SKILL.md
  packaging/claude-plugin/skills/assay-golden-path/references/agent-golden-path.json
  scripts/ci/test-agent-golden-path-skill-hardening.sh
  scripts/docs/generate-agent-golden-path.py
Due: none

ci: state the toolchain and the cargo-deny version instead of inferring them
  .github/workflows/ci.yml
  .github/workflows/kernel-matrix.yml
  .pre-commit-config.yaml
  scripts/ci/install-cargo-deny.sh
Due: none

test(ci): move the inline-run probe's anchor to the step that now exists
  scripts/ci/test-agent-golden-path-skill-hardening.sh
Due: none

spec: pin the integrity boundary and stop it naming things the verifier lacks
  crates/assay-cli/src/exit_codes.rs
  crates/assay-cli/tests/spec_reason_code_registry.rs
  docs/architecture/SPEC-PR-Gate-Outputs-v1.md
Due: none

ci: state the dependency job's toolchain once, for every cargo command in it
  .github/workflows/ci.yml
  scripts/ci/install-cargo-deny.sh
Due: none

spec: state the integrity boundary once and pin the two copies to it
  crates/assay-cli/src/exit_codes.rs
  crates/assay-cli/src/exit_codes/evidence_integrity_boundary.md
  crates/assay-cli/tests/spec_reason_code_registry.rs
  docs/architecture/SPEC-PR-Gate-Outputs-v1.md
Due: none

fix(cli): say in JSON when the config was never checked
  .agents/skills/assay-golden-path/SKILL.md
  .claude/skills/assay-golden-path/SKILL.md
  crates/assay-cli/src/cli/commands/doctor/implementation.rs
  crates/assay-cli/tests/doctor_config_check_contract.rs
  docs/generated/agent-golden-path.json
  docs/guides/agent-golden-path.md
  docs/superpowers/plans/2026-08-10-doctor-json-diagnosis.md
  packaging/claude-plugin/skills/assay-golden-path/SKILL.md
  packaging/claude-plugin/skills/assay-golden-path/references/agent-golden-path.json
  scripts/docs/generate-agent-golden-path.py
Due: none

docs(cli): stop the doctor exit table contradicting itself
  docs/reference/cli/doctor.md
Due: none

docs(cli): say why config_check restates the load error
  crates/assay-cli/src/cli/commands/doctor/implementation.rs
Due: none

spec: derive the reserved claim instead of trusting the inventory, and pin the cross-crate names
  crates/assay-cli/tests/spec_reason_code_registry.rs
  docs/architecture/SPEC-PR-Gate-Outputs-v1.md
Due: none

ci: state the toolchain and the cargo-deny version instead of inferring them (#2218)
  .github/workflows/ci.yml
  .github/workflows/kernel-matrix.yml
  .pre-commit-config.yaml
  scripts/ci/install-cargo-deny.sh
  scripts/ci/test-agent-golden-path-skill-hardening.sh
Due: none

fix(cli): exclude the new workspace-only contract from the package
  crates/assay-cli/Cargo.toml
Due: cargo-deny

test(ci): assert the required CI gate waits on every gating job
  .pre-commit-config.yaml
  scripts/ci/check-ci-gate-coverage.py
Due: none

fix(ci): wire the two unenforced release guardrails into the required CI gate
  .github/workflows/ci.yml
  CI-CONTRACT.md
  scripts/ci/test-ci-gate-expectations.sh
Due: none

ci: invoke cargo-audit as the binary, and gate the cargo-deny install pin
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  deny.toml
  scripts/ci/install-cargo-deny.sh
  scripts/ci/test-install-cargo-deny.sh
Due: cargo-deny

fix(cli): publish the doctor config failure as a registered diagnosis (#2207)
  .agents/skills/assay-golden-path/SKILL.md
  .claude/skills/assay-golden-path/SKILL.md
  crates/assay-cli/Cargo.toml
  crates/assay-cli/src/cli/commands/doctor/implementation.rs
  crates/assay-cli/tests/agent_golden_path_contract.rs
  crates/assay-cli/tests/config_recovery_argv_contract.rs
  crates/assay-cli/tests/doctor_config_check_contract.rs
  docs/generated/agent-golden-path.json
  docs/guides/agent-golden-path.md
  docs/reference/cli/doctor.md
  docs/superpowers/plans/2026-08-10-doctor-json-diagnosis.md
  packaging/claude-plugin/skills/assay-golden-path/SKILL.md
  packaging/claude-plugin/skills/assay-golden-path/references/agent-golden-path.json
  scripts/ci/test-agent-golden-path-skill-hardening.sh
  scripts/docs/generate-agent-golden-path.py
Due: cargo-deny

feat(cli): register E_EVIDENCE_INTEGRITY as a content-only integrity reason (#2213)
  crates/assay-cli/src/exit_codes.rs
  crates/assay-cli/src/exit_codes/evidence_integrity_boundary.md
  crates/assay-cli/tests/spec_reason_code_registry.rs
  docs/architecture/SPEC-PR-Gate-Outputs-v1.md
Due: none

fix(core): hash a tool schema over its canonical bytes, not its spelling
  crates/assay-core/src/mcp/identity.rs
Due: none

feat(cli): publish assay init as a machine-readable report (#2161)
  .agents/skills/assay-golden-path/SKILL.md
  .claude/skills/assay-golden-path/SKILL.md
  crates/assay-cli/src/cli/args/import.rs
  crates/assay-cli/src/cli/commands/init.rs
  crates/assay-cli/src/cli/commands/init_report.rs
  crates/assay-cli/src/cli/commands/mod.rs
  crates/assay-cli/src/exit_codes.rs
  crates/assay-cli/tests/agent_golden_path_contract.rs
  crates/assay-cli/tests/init_stdout_contract.rs
  docs/generated/agent-golden-path.json
  docs/guides/agent-golden-path.md
  packaging/claude-plugin/skills/assay-golden-path/SKILL.md
  packaging/claude-plugin/skills/assay-golden-path/references/agent-golden-path.json
  scripts/docs/generate-agent-golden-path.py
Due: none

test(cli): assert the whole doc block transports the integrity boundary
  crates/assay-cli/tests/spec_reason_code_registry.rs
Due: none

fix(cli): exclude the init stdout contract from the published package
  crates/assay-cli/Cargo.toml
Due: cargo-deny

fix(core): pin serde_jcs exactly and state the schema-hash rule where operators read it
  crates/assay-core/Cargo.toml
  crates/assay-core/src/mcp/identity.rs
  docs/reference/config/policies.md
Due: cargo-deny

fix(cli): decide the doctor exit class once, not once per output format
  crates/assay-cli/Cargo.toml
  crates/assay-cli/src/cli/commands/doctor/implementation.rs
  crates/assay-cli/tests/doctor_exit_class_contract.rs
Due: cargo-deny

fix(docs): measure the preflight success row on a config that was examined
  .agents/skills/assay-golden-path/SKILL.md
  .claude/skills/assay-golden-path/SKILL.md
  crates/assay-cli/tests/agent_golden_path_contract.rs
  docs/generated/agent-golden-path.json
  docs/guides/agent-golden-path.md
  packaging/claude-plugin/skills/assay-golden-path/SKILL.md
  packaging/claude-plugin/skills/assay-golden-path/references/agent-golden-path.json
  scripts/docs/generate-agent-golden-path.py
Due: none

fix(ci): wire the two unenforced release guardrails into the required CI gate (#2236)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CI-CONTRACT.md
  scripts/ci/check-ci-gate-coverage.py
  scripts/ci/test-ci-gate-expectations.sh
Due: none

fix(cli): name the failure test for what it pins, and publish the success next step
  crates/assay-cli/tests/agent_golden_path_contract.rs
  crates/assay-cli/tests/init_stdout_contract.rs
  docs/generated/agent-golden-path.json
  packaging/claude-plugin/skills/assay-golden-path/references/agent-golden-path.json
  scripts/docs/generate-agent-golden-path.py
Due: none

test(cli): ask a parser which doc text the integrity variant carries
  Cargo.lock
  crates/assay-cli/Cargo.toml
  crates/assay-cli/tests/spec_reason_code_registry.rs
Due: cargo-deny, cargo-audit

fix(core): state the f64 collapse as the widening it is, and pin the bound
  crates/assay-core/src/mcp/identity.rs
  docs/reference/config/policies.md
Due: none

test(support): name the ending a bounded run reached and stop timing PowerShell startup
  tests/support/bounded_process.rs
Due: none

fix(cli): let decide_exit answer for doctor too, and enumerate the row it produces
  .agents/skills/assay-golden-path/SKILL.md
  .claude/skills/assay-golden-path/SKILL.md
  crates/assay-cli/src/cli/commands/doctor/implementation.rs
  crates/assay-cli/tests/agent_golden_path_contract.rs
  crates/assay-cli/tests/doctor_exit_class_contract.rs
  docs/generated/agent-golden-path.json
  docs/guides/agent-golden-path.md
  packaging/claude-plugin/skills/assay-golden-path/SKILL.md
  packaging/claude-plugin/skills/assay-golden-path/references/agent-golden-path.json
  scripts/docs/generate-agent-golden-path.py
Due: none

Path conditions:
  cargo-deny: any of: ^(Cargo\.lock|Cargo\.toml|crates/.*/Cargo\.toml|deny\.toml)$
  cargo-audit: any of: ^Cargo\.lock$
