Repository Rul1an/assay: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-audit

cargo-deny:
  name: cargo deny (advisories, licenses, bans, sources)
  entry: bash -lc 'cargo deny check advisories bans licenses sources'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cargo-audit:
  name: cargo audit (RustSec)
  entry: bash -lc 'cargo audit'
  language: system
  pass_filenames: false
  stages:
  - pre-push

refactor(mcp-server): split proxy pdp e2e tests
  crates/assay-mcp-server/tests/proxy_enforce_pdp_e2e.rs
  crates/assay-mcp-server/tests/proxy_enforce_pdp_e2e/conformance.rs
  crates/assay-mcp-server/tests/proxy_enforce_pdp_e2e/drift_allow.rs
  crates/assay-mcp-server/tests/proxy_enforce_pdp_e2e/establish.rs
  crates/assay-mcp-server/tests/proxy_enforce_pdp_e2e/pre_drift.rs
  crates/assay-mcp-server/tests/proxy_enforce_pdp_e2e/startup.rs
  crates/assay-mcp-server/tests/proxy_enforce_pdp_e2e/support.rs
Due: none

refactor(core): split tool decision truth layer
  crates/assay-core/src/mcp/tool_decision_truth.rs
  crates/assay-core/src/mcp/tool_decision_truth/digest.rs
  crates/assay-core/src/mcp/tool_decision_truth/pack.rs
  crates/assay-core/src/mcp/tool_decision_truth/verdict.rs
Due: none

refactor(registry): split supply chain conformance
  crates/assay-registry/src/supply_chain.rs
  crates/assay-registry/src/supply_chain/provenance.rs
  crates/assay-registry/src/supply_chain/sigstore.rs
  crates/assay-registry/src/supply_chain/tests.rs
  crates/assay-registry/src/supply_chain/types.rs
Due: none

refactor(cli): split supply chain conformance command
  crates/assay-cli/src/cli/commands/supply_chain_conformance.rs
  crates/assay-cli/src/cli/commands/supply_chain_conformance/descriptor.rs
  crates/assay-cli/src/cli/commands/supply_chain_conformance/tests.rs
Due: none

refactor(cli): split mcp execution record tests
  crates/assay-cli/tests/evidence_test/mcp_execution_records.rs
  crates/assay-cli/tests/evidence_test/mcp_execution_records/fixtures.rs
  crates/assay-cli/tests/evidence_test/mcp_execution_records/named_projection.rs
  crates/assay-cli/tests/evidence_test/mcp_execution_records/verify.rs
Due: none

refactor(mcp-server): split annotation conformance tests
  crates/assay-mcp-server/src/proxy/annotation_conformance.rs
  crates/assay-mcp-server/src/proxy/annotation_conformance/tests.rs
  crates/assay-mcp-server/src/proxy/annotation_conformance/tests/contract.rs
  crates/assay-mcp-server/src/proxy/annotation_conformance/tests/extraction.rs
  crates/assay-mcp-server/src/proxy/annotation_conformance/tests/record.rs
Due: none

refactor(cli): split mcp wrap helpers
  crates/assay-cli/src/cli/commands/mcp.rs
  crates/assay-cli/src/cli/commands/mcp/coverage_input.rs
  crates/assay-cli/src/cli/commands/mcp/tdt.rs
Due: none

refactor(runner-core): split kernel tests
  crates/assay-runner-core/src/kernel/tests.rs
  crates/assay-runner-core/src/kernel/tests/archive_health.rs
  crates/assay-runner-core/src/kernel/tests/events.rs
  crates/assay-runner-core/src/kernel/tests/network_health.rs
Due: none

refactor(registry): split rekor verifier helpers
  crates/assay-registry/src/rekor.rs
  crates/assay-registry/src/rekor/body.rs
  crates/assay-registry/src/rekor/checkpoint.rs
  crates/assay-registry/src/rekor/tests.rs
  crates/assay-registry/src/rekor/trusted_root.rs
Due: none

refactor(runner-core): split redaction tests
  crates/assay-runner-core/src/redact.rs
  crates/assay-runner-core/src/redact/tests.rs
Due: none

refactor(evidence): split evidence type tests
  crates/assay-evidence/src/types.rs
  crates/assay-evidence/src/types/tests.rs
Due: none

refactor(mcp-server): split tool decision tests
  crates/assay-mcp-server/src/tool_decision.rs
  crates/assay-mcp-server/src/tool_decision/tests.rs
Due: none

refactor(cli): split run output tests
  crates/assay-cli/src/cli/commands/run_output.rs
  crates/assay-cli/src/cli/commands/run_output/tests.rs
Due: none

refactor(cli): split mcp execution record report
  crates/assay-cli/src/cli/commands/evidence/mcp_execution_records.rs
  crates/assay-cli/src/cli/commands/evidence/mcp_execution_records/report.rs
Due: none

chore(release): v3.31.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-deny, cargo-audit

test(cli): derive mcp record fixture nonces
  crates/assay-cli/tests/evidence_test/mcp_execution_records/fixtures.rs
  crates/assay-cli/tests/evidence_test/mcp_execution_records/verify.rs
Due: none

feat: add gateway evidence replay mvp
  Cargo.lock
  Cargo.toml
  crates/gateway-evidence-replay/Cargo.toml
  crates/gateway-evidence-replay/README.md
  crates/gateway-evidence-replay/fixtures/gateway-path-v0/clean-route.json
  crates/gateway-evidence-replay/fixtures/gateway-path-v0/vectors.json
  crates/gateway-evidence-replay/src/lib.rs
  crates/gateway-evidence-replay/src/main.rs
  crates/gateway-evidence-replay/src/replay.rs
  crates/gateway-evidence-replay/src/schema.rs
  crates/gateway-evidence-replay/tests/gateway_path_v0.rs
  docs/superpowers/plans/2026-06-28-gateway-evidence-replay-mvp.md
Due: cargo-deny, cargo-audit

fix: align gateway replay precedence with lab
  crates/gateway-evidence-replay/fixtures/gateway-path-v0/vectors.json
  crates/gateway-evidence-replay/src/replay.rs
  crates/gateway-evidence-replay/src/schema.rs
  crates/gateway-evidence-replay/tests/gateway_path_v0.rs
Due: none

fix(gateway-evidence-replay): mark crate publish=false (public crate policy)
  crates/gateway-evidence-replay/Cargo.toml
  scripts/ci/check-public-crate-policy.sh
Due: cargo-deny

docs(gateway-evidence-replay): harden v0 precedence + thesis-led claim ceiling in the DoR
  docs/superpowers/plans/2026-06-28-gateway-evidence-replay-mvp.md
Due: none

feat: add gateway evidence replay mvp
  Cargo.lock
  Cargo.toml
  crates/gateway-evidence-replay/Cargo.toml
  crates/gateway-evidence-replay/README.md
  crates/gateway-evidence-replay/fixtures/gateway-path-v0/clean-route.json
  crates/gateway-evidence-replay/fixtures/gateway-path-v0/vectors.json
  crates/gateway-evidence-replay/src/lib.rs
  crates/gateway-evidence-replay/src/main.rs
  crates/gateway-evidence-replay/src/replay.rs
  crates/gateway-evidence-replay/src/schema.rs
  crates/gateway-evidence-replay/tests/gateway_path_v0.rs
  docs/superpowers/plans/2026-06-28-gateway-evidence-replay-mvp.md
  scripts/ci/check-public-crate-policy.sh
Due: cargo-deny, cargo-audit

docs: plan gateway replay gate-d demo
  docs/superpowers/plans/2026-06-28-gateway-evidence-replay-gate-d-unlock.md
Due: none

docs: plan gateway replay Gate-D demo
  docs/superpowers/plans/2026-06-28-gateway-evidence-replay-gate-d-unlock.md
Due: none

test: add gateway replay Gate-D demo
  Cargo.lock
  crates/gateway-evidence-replay/Cargo.toml
  crates/gateway-evidence-replay/fixtures/gateway-path-v0/demo/README.md
  crates/gateway-evidence-replay/fixtures/gateway-path-v0/demo/clean-route.json
  crates/gateway-evidence-replay/fixtures/gateway-path-v0/demo/expected.json
  crates/gateway-evidence-replay/fixtures/gateway-path-v0/demo/manifest-sha256.txt
  crates/gateway-evidence-replay/fixtures/gateway-path-v0/demo/manifest.json
  crates/gateway-evidence-replay/fixtures/gateway-path-v0/demo/partial-route-substitution.json
  crates/gateway-evidence-replay/fixtures/gateway-path-v0/demo/stale-attestation.json
  crates/gateway-evidence-replay/fixtures/gateway-path-v0/demo/unknown-source.json
  crates/gateway-evidence-replay/tests/demo_fixtures.rs
  crates/gateway-evidence-replay/tests/demo_tamper.rs
  docs/gateway-evidence-replay/GATE-D-DEMO.md
  docs/gateway-evidence-replay/GATE-D-UNLOCK.md
Due: cargo-deny, cargo-audit

test: pin gateway demo fixtures to LF
  .gitattributes
Due: none

test: add gateway replay Gate-D demo
  .gitattributes
  Cargo.lock
  crates/gateway-evidence-replay/Cargo.toml
  crates/gateway-evidence-replay/fixtures/gateway-path-v0/demo/README.md
  crates/gateway-evidence-replay/fixtures/gateway-path-v0/demo/clean-route.json
  crates/gateway-evidence-replay/fixtures/gateway-path-v0/demo/expected.json
  crates/gateway-evidence-replay/fixtures/gateway-path-v0/demo/manifest-sha256.txt
  crates/gateway-evidence-replay/fixtures/gateway-path-v0/demo/manifest.json
  crates/gateway-evidence-replay/fixtures/gateway-path-v0/demo/partial-route-substitution.json
  crates/gateway-evidence-replay/fixtures/gateway-path-v0/demo/stale-attestation.json
  crates/gateway-evidence-replay/fixtures/gateway-path-v0/demo/unknown-source.json
  crates/gateway-evidence-replay/tests/demo_fixtures.rs
  crates/gateway-evidence-replay/tests/demo_tamper.rs
  docs/gateway-evidence-replay/GATE-D-DEMO.md
  docs/gateway-evidence-replay/GATE-D-UNLOCK.md
Due: cargo-deny, cargo-audit

chore(deps): roll up dependabot bumps
  .github/workflows/baseline-gate-demo.yml
  .github/workflows/ci.yml
  .github/workflows/docs-link-check.yml
  .github/workflows/docs.yml
  .github/workflows/kernel-matrix.yml
  .github/workflows/parity.yml
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
Due: cargo-deny, cargo-audit

fix(deps): align aya ebpf dependency line
  .github/workflows/ci.yml
  Cargo.lock
  crates/assay-ebpf/Cargo.toml
  crates/assay-ebpf/src/lsm.rs
  scripts/ci/check-aya-ebpf-alignment.sh
Due: cargo-deny, cargo-audit

fix(deps): defer aya ebpf upgrade
  Cargo.lock
  Cargo.toml
  crates/assay-ebpf/Cargo.toml
  crates/assay-ebpf/src/lsm.rs
Due: cargo-deny, cargo-audit

chore(deps): roll up dependabot bumps (#1769)
  .github/workflows/baseline-gate-demo.yml
  .github/workflows/ci.yml
  .github/workflows/docs-link-check.yml
  .github/workflows/docs.yml
  .github/workflows/kernel-matrix.yml
  .github/workflows/parity.yml
  .github/workflows/release.yml
  Cargo.lock
  scripts/ci/check-aya-ebpf-alignment.sh
Due: cargo-deny, cargo-audit

fix(render-safety): strip C1 terminal controls
  crates/assay-core/src/render_safety/corpus.rs
  crates/assay-core/src/render_safety/mod.rs
  crates/assay-core/tests/bombadil_no_raw_control_rendered.rs
  crates/assay-core/tests/fixtures/render_safety_conformance.v0.golden.json
  docs/examples/render-safety-no-raw-control-rendered.md
Due: none

fix(render-safety): strip C1 terminal controls (#1770)
  crates/assay-core/src/render_safety/corpus.rs
  crates/assay-core/src/render_safety/mod.rs
  crates/assay-core/tests/bombadil_no_raw_control_rendered.rs
  crates/assay-core/tests/fixtures/render_safety_conformance.v0.golden.json
  docs/examples/render-safety-no-raw-control-rendered.md
Due: none

fix(ci): close shell-injection in mcp-registry-publish tag resolution
  .github/workflows/mcp-registry-publish.yml
Due: none

docs(claude): refresh workspace structure and version to 3.31.1
  CLAUDE.md
Due: none

ci: harden workflow token handling and permissions
  .github/workflows/assay.yml
  .github/workflows/demo-smoke.yml
  .github/workflows/monitor-attach-smoke.yml
  .github/workflows/osv-scanner-scheduled.yml
  .github/workflows/perf_nightly.yml
Due: none

fix(ci): close shell-injection in mcp-registry-publish tag resolution (#1771)
  .github/workflows/mcp-registry-publish.yml
Due: none

ci: harden workflow token handling and permissions (#1775)
  .github/workflows/assay.yml
  .github/workflows/demo-smoke.yml
  .github/workflows/monitor-attach-smoke.yml
  .github/workflows/osv-scanner-scheduled.yml
  .github/workflows/perf_nightly.yml
Due: none

docs(claude): refresh workspace structure and version to 3.31.1 (#1773)
  CLAUDE.md
Due: none

ci: scope workflow token permissions to least privilege
  .github/workflows/adr025-nightly-closure.yml
  .github/workflows/adr025-nightly-otel-bridge.yml
  .github/workflows/adr025-nightly-readiness.yml
  .github/workflows/adr025-nightly-soak.yml
  .github/workflows/docs-auto-update.yml
  .github/workflows/docs.yml
  .github/workflows/perf_main.yml
Due: none

Path conditions:
  cargo-deny: any of: ^(Cargo\.lock|Cargo\.toml|crates/.*/Cargo\.toml|deny\.toml)$
  cargo-audit: any of: ^Cargo\.lock$
